/* Navbar */
.header {
  margin: 1.5vw;
  font-size: 3vw;
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 2vw;
}

.navbar-links a {
  font-size: 1.3vw;
  text-decoration: none;
  color: #333;
}

.navbar-links a:hover {
  color: #333;
}

.navbar-links li {
  margin-left: 3vw;
}

.navbar .ml-auto {
  margin-left: auto;
}

/* About */
.h1,
.header-3 {
  margin: 5.5vw;
  font-size: 3.5vw;
}

.body-text {
  font-size: 1.2vw;
  margin: 5.5vw;
}

.custom-button {
  background-color: #2d2d2d;
  color: #fff;
  padding: 0.8vw 2vw;
  font-size: 1vw;
  margin-left: 5vw;
  border-radius: 0.3vw;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-image {
  display: flex;
  max-width: 60%;
  margin: 5.5vw;
  margin-left: auto;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
}

/* Work */
.header-2 {
  font-size: 40px;
  text-align: center;
}

.custom-card {
  transition: box-shadow 0.4s, transform 0.4s;
  box-shadow: 2% 2% 4% rgba(0, 0, 0, 0.5);
  flex-basis: calc(25% - 1.6vw);
  margin: 0.8vw;
}

.custom-card:hover {
  box-shadow: 0 0 2% 2% rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.custom-card .custom-card-image {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-card-icon-2 {
  width: 12%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card-icon-2 img {
  width: 35px;
  height: 35px;
}

.custom-card-icons {
  display: flex;
  margin-bottom: 15%;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}
.card-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.icon-row {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 4.5%;
  margin-right: 1%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.icons {
  margin-top: 5vw;
}

.icon:last-child {
  margin-right: 0;
}

.icons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  padding: 30px;
}

.login-form {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 25%;
  margin: 0 auto;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
  outline: none;
  border: none;
  line-height: 1;
}

.loginform-button {
  width: 150px;
  background-color: #2d2d2d;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}

.loginform-button:hover {
  background-color: #543;
}

/* About Page */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.custom-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
}

.custom-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 5px rgba(169, 169, 169, 0.5);
  padding: 20px;
}

.custom-image-container {
  width: 50%;
}

.custom-image {
  width: 70%;
  height: auto;
}

.custom-paragraph {
  margin-left: 20px;
  line-height: 1.9;
  max-width: 50%;
  opacity: 0;
}

.custom-about,
.custom-image {
  animation-duration: 2s;
}

.custom-image-container {
  animation: slideInFromTop 0.5s ease-out forwards;
}

.custom-paragraph {
  animation: slideInFromRight 0.5s ease-out forwards;
  animation-delay: 1s;
}

/* Contact Form */
.registration-container {
  align-items: center;
  text-align: center;
}

.small-registration-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.small-form-group {
  margin-bottom: 15px;
}

.small-form-group input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.contact-button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header-3 {
  font-size: 3vw;
  margin-left: 5.5vw;
}

@media screen and (max-width: 1200px) {
  .header,
  .navbar-links a,
  .h1,
  .body-text,
  .custom-button {
    font-size: 2.8vw;
  }
  .header-2 {
    font-size: 5.5vw;
  }
  .header-3 {
    font-size: 5.5vw;
    margin-left: 5vw;
  }
  .about-image {
    margin-top: 8.5vw;
    max-width: 100%;
  }
  .icon {
    margin-top: 5vw;
    width: 8.5%;
  }
  .custom-card {
    flex-basis: calc(50% - 1.6vw);
    font-size: 3.5vw;
  }

  .left-content {
    font-size: 22px;
  }

  .loginform-button {
    margin-right: 15vw;
  }
  .icons {
    margin-bottom: 4vw;
  }
  .custom-card-icon-2 {
    width: 12%;
  }
  .custom-card-icons {
    margin-bottom: 25%;
  }
  .custom-card-icon-2 img {
    width: 40px;
    height: 40px;
  }
  .card-title{
    font-size: 30px;
  }
  .card-text {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 1px;
  }
  .header4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .loginform-p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 768px) {
  .header-3 {
    font-size: 4.5vw;
    margin-left: 5vw;
  }
  .about-image {
    margin-top: 30px;
    max-width: 100%;
  }

  .new-about-page-container,
  .new-paragraph {
    margin-top: 8%;
  }
  .left-content {
    font-size: 20px;
    padding: 3px;
    margin-left: 3%;
    margin-top: 2vw;
  }
  .login-form {
    max-width: 80%;
    margin-bottom: 10px;
  }
  .icons {
    margin-bottom: 4vw;
  }
  .login-container {
    flex-direction: column;
    align-items: center;
  }
  .custom-card-icon-2 {
    width: 18%;
  }
  .custom-card-icons {
    margin-bottom: 30%;
  }
  .custom-card-icon-2 img {
    width: 40px;
    height: 35px;
  }
  .login-form {
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 15vw;
    margin-left: 25vw;
  }
  .loginform-button {
    text-align: center;
    margin-right: 25vw;
  }
}

@media only screen and (max-width: 568px) {
  .custom-button {
    font-size: 3.5vw;
    padding: 1.5vw;
    border: 1vw;
    margin-bottom: 8vw;
  }
  .header-3 {
    font-size: 9vw;
    margin-left: 5vw;
  }
  .header-5 {
    font-size: 5.5vw;
  }
  .header {
    font-size: 5.2vw;
    margin-bottom: 3vw;
  }
  .header-2 {
    font-size: 9.2vw;
  }
  .body-text {
    font-size: 3.5vw;
  }
  .navbar-links a {
    font-size: 4vw;
  }
  .about-image {
    max-width: 100%;
    margin-top: 60px;
  }
  .left-content {
    font-size: 18px;
    padding: 8px;
  }

  .login-form {
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 15vw;
    margin-left: 15vw;
  }
  .card-title {
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
  }
  .custom-card-icon-2 {
    width: 14%;
  }
  .custom-card-icons {
    margin-bottom: 32%;
  }
  .custom-card-icon-2 img {
    width: 18px;
    height: 18px;
  }
  .card-text {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 1px;
  }
  .header4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .loginform-p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 568px) {
  .custom-page-container {
    margin-top: 30px;
    padding: 12px;
  }
  .custom-text-container {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .custom-about {
    text-align: center;
  }
  .custom-image-container {
    width: 85%;
  }

  .custom-image {
    width: 100%;
    height: auto;
  }

  .custom-paragraph {
    margin-left: 0;
    max-width: 100%;
  }
}
