/* Navbar */
.header {
  margin: 1.5vw;
  font-size: 3vw;
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 2vw;
}

.navbar-links a {
  font-size: 1.3vw;
  text-decoration: none;
  color: #333;
}

.navbar-links a:hover {
  color: #007bff;
}

.navbar-links li {
  margin-left: 3vw;
}

.navbar .ml-auto {
  margin-left: auto;
}

/* About */
.h1 {
  margin: 5.5vw;
  font-size: 3.5vw;
}

.body-text {
  font-size: 1.2vw;
  margin: 5.5vw;
}

.custom-button {
  background-color: #2d2d2d;
  color: #fff;
  padding: 0.8vw 2vw;
  font-size: 1vw;
  margin-left: 5vw;
  border-radius: 0.3vw;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-image {
  display: flex;
  max-width: 60%;
  margin: 5.5vw;
  margin-left: auto;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
}

/* Work */
.header-2 {
  font-size: 40px;
  text-align: center;
}

.custom-card {
  transition: box-shadow 0.4s, transform 0.4s;
  box-shadow: 2% 2% 4% rgba(0, 0, 0, 0.5);
  flex-basis: calc(25% - 1.6vw);
  margin: 0.8vw;
}

.custom-card:hover {
  box-shadow: 0 0 2% 2% rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.custom-card .custom-card-image {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-row {
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 4.5%;
  margin-right: 1%;
  margin-bottom: 6%;
  margin-top: 4%;
}

.icons {
  margin-top: 5vw;
}

/* Add the following style if you want the last icon to have no right margin */
.icon:last-child {
  margin-right: 0;
}

.icons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px; /* Adjust the margin as needed */
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  padding: 30px;
}

.login-form {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 25%;
  margin: 0 auto;
  margin-right: 30px;
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.loginform-button {
  padding: 8px;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginform-button:hover {
  background-color: #45a049;
}

/* About Page */
.new-about-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  flex-direction: column;
  margin-top: 50px;
}

.new-text-container {
  align-items: center;
  display: flex;
}

.new-h1 {
  margin: 0;
}

.new-image-container {
  text-align: center;
}

.new-about-image {
  width: 55%;
  height: auto;
}

.new-paragraph {
  text-align: center;
  margin-top: 100px;
}

/* Contact Form */
.registration-container {
  align-items: center;
  text-align: center;
}

.small-registration-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.small-form-group {
  margin-bottom: 15px;
}

.small-form-group input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.contact-button {
  padding: 10px;
  background-color: tan;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header-3 {
  font-size: 3vw;
  margin-left: 5.5vw;
}

@media screen and (max-width: 1200px) {
  .header,
  .navbar-links a,
  .h1,
  .body-text,
  .custom-button {
    font-size: 2.8vw;
  }
  .header-3 {
    font-size: 5.5vw;
    margin-left: 5vw;
  }
  .about-image {
    margin-top: 8.5vw;
    max-width: 100%;
  }

  .icon {
    margin-top: 5vw;
    width: 8.5%;
  }

  .custom-card {
    flex-basis: calc(50% - 1.6vw);
    font-size: 3.5vw;
  }

  .new-about-page-container,
  .new-paragraph {
    margin-top: 10%;
  }

  .left-content {
    font-size: 35px;
    padding: 3px;
    margin-left: 3%;
    margin-top: 2vw;
  }

  .login-form {
    max-width: 80%;
    margin-right: 18%;
    margin-bottom: 10px;
  }

  .icons {
    margin-bottom: 4vw;
  }
  .login-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .header,
  .navbar-links a,
  .h1,
  .body-text,
  .custom-button {
    font-size: 2.8vw;
  }
  .header-3 {
    font-size: 4.5vw;
    margin-left: 5vw;
  }
  .about-image {
    margin-top: 30px;
    max-width: 100%;
  }

  .icon {
    margin-top: 5vw;
    width: 8.5%;
  }

  .custom-card {
    flex-basis: calc(50% - 1.6vw);
  }

  .new-about-page-container,
  .new-paragraph {
    margin-top: 10%;
  }

  .left-content {
    font-size: 20px;
    padding: 3px;
    margin-left: 3%;
    margin-top: 2vw;
  }

  .login-form {
    max-width: 80%;
    margin-right: 18%;
    margin-bottom: 10px;
  }

  .icons {
    margin-bottom: 4vw;
  }
  .login-container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 568px) {
  .custom-button {
    font-size: 4.2vw;
    border: 2vw;
    margin-bottom: 8vw;
  }
  .header-3 {
    font-size: 5vw;
    margin-left: 5vw;
  }
  .header {
    font-size: 5.2vw;
    margin-bottom: 3vw;
  }
  .body-text {
    font-size: 3.8vw;
  }
  .navbar-links a {
    font-size: 4vw;
  }
  .about-image {
    max-width: 100%;
  }
  .left-content {
    padding: 15px;
    margin-left: 5vw;
  }
  .login-form {
    margin-top: 5vw;
    margin-bottom: 15vw;
    margin-right: 12vw;
  }
}
